body {
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DDD;
}

#toolbar {
    background-color: yellow;
}

.container-select {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 150px;
}

.container-select:active {
    transform: translateY(4px);
}

.container-menu {
    margin: 0 auto;
    position: relative;
    top: -32px;
    right: -468px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 190px;
    height: 75px;
}

.container-menu:active {
    transform: translateY(4px);
}

@keyframes moving {
    0% {
        transform: rotate(-40deg)  /*translateX(30px)*/;
        transform-origin:  20px 20px;
    }
    50% {
        transform: rotate(0);
        transform-origin:  20px 20px;
    }
    100% {
        transform: rotate(-40deg) /*ranslateX(30px)*/;
        transform-origin: 20px 20px;
    }
}

.jaw {
    animation-name: moving;
    animation-duration: 0.92s;
    animation-iteration-count: infinite;
    position: relative;
    left: -150px;
    top: -30px;
}

.col {
    display: flex;
}

.row {
    display: flex;
}

.left {
    float: left;
}

.right {
    float: right;
}

#swamp {
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    background-color: green;
}

.croco-container {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
}

.crocodile {
    display: table;
    margin: 0 auto;
}

.placeholder {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);
    border-style: dashed;
    border-color: #999;
}

.egg {
    margin: 0 auto;
    width: 130px;
    height: 130px;
}

.croco {
    /* width: 100px;
    height: 70px;*/
}

.insert-crocodile, .insert-egg, .insert-placeholders {
    display: none;
}

.insert-placeholders-preview {
    border: 4px dashed #999;
    width: 30px;
    height: 30px;
}

.placeholder:hover .insert-placeholders {
    display: flex;
}

.insert-placeholders-preview {
    margin: 0 auto;
    cursor: pointer;
}

.placeholder:hover .insert-crocodile,
.placeholder:hover .insert-egg {
    display: block;
}

.insert-crocodile-img {
    width: 60px;
    cursor: pointer;
}

.insert-egg-img {
    width: 60px;
    cursor: pointer;
}

#menu-buttons {
    margin-top: 40px;
}

#button-main {
    background-image: url("../img/button_play.svg");
}

#button-chapters {
    background-image: url("../img/button_chapters.svg");
}

#button-score {
    background-image: url("../img/button_score.svg");
}

#button-settings {
    background-image: url("../img/button_settings.svg");
}

#button-menu {
    background-image: url("../img/menu2_button.svg");
}
