body
{
    width: 1024px;
    height: 768px;
    margin: 100px auto;
    border: 10px solid rgb(7, 97, 7);
    background-color: white;
    text-align: center;
}

.container-select {
    margin: 4% auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 150px;
}

.container-select:active {
    transform: translateY(4px);
}

@keyframes moving {
    0% {
        transform: rotate(-40deg)  /*translateX(30px)*/;
        transform-origin:  20px 20px;
    }
    50% {
        transform: rotate(0);
        transform-origin:  20px 20px;
    }
    100% {
        transform: rotate(-40deg) /*ranslateX(30px)*/;
        transform-origin: 20px 20px;
    }
}

.jaw {
    animation-name: moving;
    animation-duration: 0.92s;
    animation-iteration-count: infinite;
    position: relative;
    left: -155px;
    top: -30px;
}

.col {
    display: flex;
}

#swamp {
    width: 50%;
    margin: 0 auto;
    background-color: green;
}

.croco-container {
    white-space: nowrap;
}

.placeholder {
    height: 70px;
    width: 70px;
    background-color: rgba(0,0,0,0.1);
    border-style: dashed;
    border-color: #999;
}

.egg {
    width: 100px;
    height: 70px;
}

.croco {
    width: 100px;
    height: 70px;
}

#button-main {
    background-image: url("../img/button_play.svg");
}

#button-chapters {
    background-image: url("../img/button_chapters.svg");
}

#button-score {
    background-image: url("../img/button_score.svg");
}

#button-settings {
    background-image: url("../img/button_settings.svg");
}

#button-menu {
    background-image: url("../img/menu_button.svg");
}
