body {
    margin: 0;
    padding: 0;
}

.bg_menu {
    height: 100%;
    width: 100%;
    background-image: url("../img/croco_sky.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.bg_play {
    background-image: url("../img/croco_sky_blur.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


#app {
    /*background-image: url("../img/croco_sky.svg");*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-select {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 150px;
}

.container-select:active {
    transform: translateY(4px);
}

.container-menu {
    position: fixed;
    right: 0;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
}

.container-menu:active {
    transform: translateY(4px);
}

.button{
    position: fixed;
    bottom: 0;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
}

.button:active {
    transform: translateY(4px);
}

@keyframes moving {
    0% {
        transform: rotate(-40deg)  /*translateX(30px)*/;
        transform-origin:  20px 20px;
    }
    50% {
        transform: rotate(0);
        transform-origin:  20px 20px;
    }
    100% {
        transform: rotate(-40deg) /*ranslateX(30px)*/;
        transform-origin: 20px 20px;
    }
}

.jaw {
    animation-name: moving;
    animation-duration: 0.92s;
    animation-iteration-count: infinite;
    position: relative;
    left: -150px;
    top: -30px;
}

.col {
    display: inline-flex;
}

.row, .col {
    /* border-top: 2px dashed rgba(0,0,0,0.1); */
    /* margin-top: 10px; */
}

.row {
    display: inline-block;
    margin: 0 auto;
}

.left {
    /* float: left; */
}

.right {
    /* float: right; */
}

#swamp {
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}

.croco-container {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
}

.crocodile {
    display: table;
    margin: 0 auto;
}

.placeholder {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);
    border-style: dashed;
    border-color: #999;
}

.egg {
    cursor: pointer;
    margin: 0 auto;
    width: 130px;
    height: 130px;
}

.croco {
    cursor: pointer;
    /* width: 100px;
    height: 70px;*/
}

.insert-crocodile, .insert-egg, .insert-placeholders {
    display: none;
}

.insert-placeholders-preview {
    border: 4px dashed #999;
    width: 30px;
    height: 30px;
}

.placeholder:hover .insert-placeholders {
    display: flex;
}

.insert-placeholders-preview {
    margin: 0 auto;
    cursor: pointer;
}

.placeholder:hover .insert-crocodile,
.placeholder:hover .insert-egg {
    display: block;
}

.insert-crocodile-img {
    width: 60px;
    cursor: pointer;
}

.insert-egg-img {
    width: 60px;
    cursor: pointer;
}

#menu-buttons {
    position: absolute;
    margin-top: 40px;
}

#button-main {
    background-image: url("../img/button_play.svg");
    cursor: pointer;
}

#button-chapters {
    background-image: url("../img/button_chapters.svg");
    cursor: pointer;
}

#button-score {
    background-image: url("../img/button_score.svg");
    cursor: pointer;
}

#button-settings {
    background-image: url("../img/button_settings.svg");
    cursor: pointer;
}

#button-menu {
    z-index: 10;
    background-image: url("../img/menu2_button.svg");
    cursor: pointer;
}


#button-back {
    background-image: url("../img/backwards_button.svg");
    left: 0;
    cursor: pointer;
}

#button-forward {
    background-image: url("../img/forwards_button.svg");
    right: 0;
    cursor: pointer;
}
